@use 'sass:color';
@use '../base/variables' as *;

.btn {
  display: block;
  width: max-content;

  cursor: pointer;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 400;
  padding: 12px 0;
  transition: $transition-base;
  text-decoration: none;
  color: $black;

  outline: none;
  border: none;

  img {
    display: block;
    transition: $transition-base;
  }

  &-primary {
    display: flex;
    align-items: center;
    gap: 16px;

    &:hover {
      color: $black;
      img {
        transform: translateX(16px);
      }
    }
  }

  &-rounded {
    min-width: 120px;
    padding: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;

    &:hover {
      color: $black;
    }
  }

  &-icon {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: $white;
    img {
      height: 24px;
      filter: brightness(0);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .btn {
    font-size: 16px;

    &-primary {
      img {
        width: 40px;
      }
    }
    &-rounded {
      min-width: 64px;
      padding: 12px;
      font-size: 12px;
      img {
        width: 32px;
      }
    }
  }
}
