@use 'sass:color';

// Base
@use 'base/variables';
@use 'base/reset';
@use 'base/mixins';

// Components
@use 'components/buttons';
@use 'components/cards';
@use 'components/subscription';

// Layouts
@use 'layouts/navbar';
@use 'layouts/footer';
@use 'layouts/contact';
@use 'layouts/bag';

// Pages
@use 'pages/home';
@use 'pages/aol';
@use 'pages/shop';
@use 'pages/product';
@use 'pages/blog';
@use 'pages/article';
@use 'pages/login';
@use 'pages/notfound';

// Animations
@keyframes metalShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes lightSweep {
  0% {
    transform: rotate(45deg) translateY(-50%);
  }
  50% {
    transform: rotate(45deg) translateY(50%);
  }
  100% {
    transform: rotate(45deg) translateY(-50%);
  }
}
