@font-face {
    font-family: 'Nesia Sans';
    src: url('NesiaSansBlack.woff2') format('woff2'),
        url('NesiaSansBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nesia Sans';
    src: url('NesiaSansBold.woff2') format('woff2'),
        url('NesiaSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nesia Sans';
    src: url('NesiaSansRegular.woff2') format('woff2'),
        url('NesiaSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

